<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans&display=swap"
  rel="stylesheet"
/>

<head>
  <meta charset="UTF-8" />
  <title>DEMO JNDLAP</title>
  <link rel="stylesheet" href="static/main.css" />
</head>
<form action="thankyou" method="post">
  <main class="main">
    <h1 class="t-center">Qoute</h1>
    <div class="row row--firstName">
      <label class="label" for="firstName">Orgin</label>
      <input
        class="fe fe-firstName"
        placeholder="address"
        type="text"
        id="orgin"
        name="orgin"
      />
    </div>
    <div class="row row--lastName">
      <label class="label" for="lastName">Destination</label>
      <input
        class="fe"
        placeholder="address"
        type="text"
        id="dest"
        name="dest"
      />
    </div>

    <div class="row row--lastName">
      <label class="label">Miles</label>
      <input
        class="fe"
        placeholder="total miles"
        type="text"
        id="miles"
        name="miles"
      />
    </div>

    <div class="row row--lastName">
      <label class="label">Email</label>
      <input class="fe" placeholder="follow-up email" name="email" />
    </div>

    <div class="row">
      <input class="btn--cta" type="submit" value="Submit" id="thankyou" />
    </div>
  </main>
</form>
